---
import Navigation from "../components/Navigation.astro";
import Notification from "../features/notifications/Notification.astro";
import '../styles/global.css';
const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="light">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body >
		<Notification/>
		<Navigation title={title} />
		<slot />
		 <script 
		    // @ts-nocheck
			type="module">
      import 'flowbite';
    </script>

	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
