---
import Layout from "../layouts/Layout.astro";
import AuthProtected from "../features/auth/AuthProtected.astro";
import UserList from "../features/incidence/IncidenceList.astro";
import IncidenceModalAdd from "../features/incidence/IncidenceModalAdd.astro";
---

<Layout title="Incidence">
  <AuthProtected>
  <div class="max-w-4xl mx-auto px-4 pt-20 pb-8">
    <!-- Botón alineado arriba–derecha -->
    <div class="flex justify-end mb-6">
      <button
        onclick="document.getElementById('modal').classList.remove('hidden')"
        class="bg-blue-600 hover:bg-blue-700 text-white font-semibold px-4 py-2 rounded shadow"
      >
        Añadir Inidencia
      </button>
    </div>

    <!-- Tabla responsive -->
    <div class="overflow-x-auto">
      <UserList/>
    </div>
  </div>

  <!-- Modal -->
 <IncidenceModalAdd/>
 </AuthProtected>
</Layout>

<script>
   // @ts-nocheck
 
</script>